// variáveis da grade
$grid-columns: 12;
$grid-max-width: 65em;
 
 
// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

$colors: (
  primary: #151b1d,
  secondary: #151b1d,
  third: #EA485C,
  fourth: #EA485C,
  fifth: #EA485C,

  sixth: #CECECE,
  seventh: #00133e,

  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);